<h1>New recipe</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'shoppinglist:save_dish' %}" method="post">
  {% csrf_token %}
  <p>Name
	<input type="text" name="dish_name" id="dish_name" value="{{ name }}"> 
  </p>
  <br>

  <label for="type_of_food">Choose a food type:</label>
  <select name="type" id="type_of_food">
	{% for type in types %}
	<option value="{{ type }}" {% if type == selected_type %}selected {% endif %}}>{{ type }}</option>
	{% endfor %}
  </select>
  <br>

  <label for="moment">Choose a moment in day:</label>
  <select name="moment" id="moment">
	{% for moment in time_of_day %}
	<option value="{{ moment }}" {% if moment == selected_moment %}selected{% endif %} }>{{ moment }}</option>
	{% endfor %}
  </select>
  <br>
  
   <p>Link to recipe
	<input type="text" name="link_to_recipe" id="link_to_recipe" value="{{ link }}">
   </p>
  <p>Recipe
	<input type="text" name="recipe" id="recipe" value="{{ recipe }}">
  </p>

  <input type="submit" value="Save">
</form>

